@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Audiowide", sans-serif,"Sofia","Trirong";
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(244, 243, 255) 0%, rgb(251, 251, 251) 35%, rgb(215, 248, 255) 100%);
    color: #000;
}
ul {
    line-height: 1.5;
    list-style: none;
}
li {
  list-style: none;
}
/*navbar*/
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #FFFFFF;

}
.logo {
    padding-left: 12px;
    text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
    padding:16px;
    color: #000;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
}
.navbar a:hover {
    color: #959090;
}


/*container*/
.container{
    margin:50px 0;

}
.btn {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .btn {
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width:768px) {
/* Menu Button  */
.menu-btn {
  height: 32px;
  width: 40px;
  cursor: pointer;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  background: #795548;
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;         
  margin-top: 13px; 

  -webkit-transition: .3s ease-in-out .3s;
  -moz-transition: .3s ease-in-out .3s;
  -o-transition: .3s ease-in-out .3s;
  transition: .3s ease-in-out .3s;
}

.menu-btn span::before {
  margin-top:-12px;
  
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu-btn span::after {
  margin-top:12px;
  
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu-btn.active span {
  background: transparent;
  
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
}

.menu-btn.active span::before {
  margin-top:0;
  
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.menu-btn.active span::after {
  margin-top:0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-transition-delay: .6s;
  -moz-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .5s;
}
/*mobile-nav */
  .navbar  {
    background-color:#daf4ff;
    font-size: 24px;
    position: fixed;
    visibility: hidden;
    left: 0;
    width: 100%;
    transition: top 0.5s;
    display: flex;
    flex-direction: column;
  }
  li {
    padding: 12px;
  }


  /*header*/
  .header{
  padding: 2rem 0;
  padding-right: 12px;
  }

}
/* CSS */
.btn-n {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-n:focus {
  outline: 0;
}

.btn-n:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-n:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .btn-n {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}


/* CSS */
.btn-y {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-y:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-y:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btn-y {
    padding: 13px 50px 13px;
  }
}
/*title*/
.title {
  font-family: 'sofia';
  border-bottom: 1px solid #3DD1E7;
  text-transform: uppercase;
  text-align: justify;
  margin:0 6rem;
}
/*About*/

.intro-img {
  display:grid;
  align-items: center;
  justify-content: center;
}
.intro-img img {
  padding: 1rem;
}
.intro-img img:hover{
  transform:  translateX(16px) ;
  box-shadow: 0 8px 8px -4px #37AEE2;
}
/*services*/
.card  {
  display: grid;
  justify-content: center;
  align-items:center;

}
.card button {
 margin: 1rem 0;
}
.card img {
  padding: 1rem;
}
.card img:hover {
  transform: translateX(16px);
  box-shadow:0 8px 8px -4px #1E96C8;
}
.card {
 /* background-image:
  linear-gradient(241deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%),url(img/img-contour.png);
  background-blend-mode: multiply;
*/
}




/*footer*/

footer {
  background: #000000;
  color: #ccc;
 /* background-image:
  linear-gradient(241deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%),url(img/img-contour.png);
  background-blend-mode: multiply;*/

}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding:0 3rem;
}
.social-icons {
  padding: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.social-icons a svg:hover {
  box-shadow: 4px 8px 8px -4px #33c1e4;
  opacity: 80%;
}
.quick-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quick-links li a  {
  color:#FFFFFF;
  padding: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.quick-links li a:hover{
  text-decoration: underline;
  color: #1E96C8;
}
.quick-links li {
  padding: 1rem;
}
